.icon-reply {

    transform: rotate(270deg);
    width: 3.2rem;
    height: 2.4rem;
    padding: 0 0 0 .8rem;
    border-left: $light-gray 1px solid;
    fill: $primary-txt;

}

.icon-arrow-right2 {

      height: 1.6rem;
      width: 2rem;
      display: block;
      fill: $primary-txt;
      
}

#footer_icon {

        width: 2.3rem;
        height: 2.3rem;
        padding: .5rem;
        border-radius: 5px;
        fill: $nav-text;
        cursor: pointer;

}

#footer_icon:hover {

    fill: $color-white;

}