.section-news {

    display: flex;
    flex-direction: column;
    

    &__number {

        display: flex;
        margin: 11rem auto 1rem 22rem;

        @include respond(tab-port) {

            margin: 11rem auto 1rem 10rem;

        }

        @include respond(phone) {

            margin: 8rem auto 1rem 5rem;

        }

        &-no {

            color: $primary-txt;
            font-size: 1.3rem;
            
        }

        &-line {

            width: 4.1rem;
            height: 1px;
            background-color: $lighter-gray;
            margin:.8rem .8rem 0 .8rem;

        }

        &-new {

            font-family: $content-font;
            color: $primary-txt;
            font-size: 1.3rem;

        }
    }

    &__title {

        font-family: $head-font;
        font-weight: 800;
        font-size: 3.2rem;
        letter-spacing: -4px;
        color: $primary-txt;
        margin: 1rem auto 5rem 22rem;

        @include respond(tab-port) {

            margin: 1rem auto 4rem 10rem;

        }

        @include respond(phone) {

            margin: 1rem auto 6rem 5rem;
            font-size: 2.8rem;

        }

    }

    &__content {

       overflow: hidden;
       padding-bottom: 10rem;

        &-wrapper {
            
            padding:4rem 4.9rem 1rem 4.9rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: white;
            border-left: $lighter-gray 1px solid;
            align-items: center;
            min-height: 56rem;

            @include respond(tab-land) {

                padding:4rem 3.2rem 1rem 3.2rem;

            }

            @include respond(phone) {

                padding:4rem 3rem 1rem 3rem;

            }

            &-bild {

                height:30rem;
                margin: 0 auto;
           
            }

            &-autor {

                display: flex;
                margin: 2.5rem 0 2.2rem 0;

                &-date {
                  
                    color: $seconday-txt;
                    font-size: 1.4rem;
                    font-weight: 700;
                    font-family: $content-font;

                }

                &-name {

                    color:$seconday-txt;
                    font-size: 1.3rem;

                }
            }

            &-title {

                font-family: $head-font;
                font-size: 1.8rem;
                color: $primary-txt;
                letter-spacing: -2px;

            }

        }
    }
}
