/*
*
   COLORS
*
*/

$primary-bck: #ebe7ef;
$primary-txt :#4c366b;
$nav-text: #888;
$seconday-txt: #7c649e;
$footer-bck: #3d265a;
$color-black: #010101;
$button-bg: #5f4288;
$light-gray: #cccccc;
$lighter-gray: #dddddd;
$color-white: #fefefe;


/*
*
   FONTS
*
*/

$title-font: 'Volkhov', serif;
$content-font: 'Signika', sans-serif;
$head-font: 'Merriweather Sans', sans-serif;


