* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

/*
*
   COLORS
*
*/
/*
*
   FONTS
*
*/
.icon-reply {
  transform: rotate(270deg);
  width: 3.2rem;
  height: 2.4rem;
  padding: 0 0 0 .8rem;
  border-left: #cccccc 1px solid;
  fill: #4c366b; }

.icon-arrow-right2 {
  height: 1.6rem;
  width: 2rem;
  display: block;
  fill: #4c366b; }

#footer_icon {
  width: 2.3rem;
  height: 2.3rem;
  padding: .5rem;
  border-radius: 5px;
  fill: #888;
  cursor: pointer; }

#footer_icon:hover {
  fill: #fefefe; }

.header {
  display: flex;
  justify-content: space-between; }
  .header__container {
    background-color: #ebe7ef;
    flex-grow: 1; }
    .header__container--title {
      padding: 5rem 2rem 5rem 6rem;
      display: flex;
      justify-content: space-between; }
      .header__container--title-span {
        position: absolute;
        width: 10%;
        color: #4c366b;
        font-size: 2.5rem;
        font-weight: 700;
        font-family: "Volkhov", serif;
        line-height: 2.3rem; }
      .header__container--title-btn {
        display: none;
        position: fixed;
        top: 2rem;
        right: 3rem;
        z-index: 999; }
        @media only screen and (max-width: 56.25em) {
          .header__container--title-btn {
            display: block; } }
    .header__container--main {
      display: flex;
      justify-content: space-between; }
    .header__container--nav {
      padding: 3rem 6rem 14rem 6rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: all; }
      @media only screen and (max-width: 56.25em) {
        .header__container--nav {
          width: 0;
          display: none; } }
      .header__container--nav-list {
        list-style: none; }
      .header__container--nav-item {
        padding: .8rem 0; }
      .header__container--nav-link:link, .header__container--nav-link:visited {
        font-size: 1.4rem;
        color: #888;
        font-family: "Signika", sans-serif;
        font-weight: 500;
        text-decoration: none; }
      .header__container--nav-link:hover {
        color: #4c366b; }
      .header__container--nav-link, .header__container--nav .active {
        color: #4c366b; }
    .header__container--content {
      padding: 11rem 4rem;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      @media only screen and (max-width: 56.25em) {
        .header__container--content {
          padding: 11rem 6rem; } }
      @media only screen and (max-width: 37.5em) {
        .header__container--content {
          padding: 10rem 1rem 10rem 3.5rem; } }
      .header__container--content-border {
        display: flex;
        margin: 4rem 11rem 0 0; }
        @media only screen and (max-width: 75em) {
          .header__container--content-border {
            margin: 6rem 2rem 0 0; } }
        .header__container--content-border-left {
          height: 2px;
          background-color: #4c366b;
          width: 50%; }
        .header__container--content-border-right {
          height: 2px;
          background-color: #cccccc;
          width: 50%; }
      .header__container--content-first-head {
        color: #4c366b;
        display: flex;
        justify-content: center;
        width: 32.7rem;
        position: relative;
        font-size: 1.5rem;
        font-family: "Signika", sans-serif; }
        @media only screen and (max-width: 56.25em) {
          .header__container--content-first-head {
            width: 30rem; } }
        .header__container--content-first-head-no {
          position: absolute;
          left: 0;
          font-size: 1.3rem; }
        .header__container--content-first-head-date {
          font-weight: 700; }
        .header__container--content-first-head-name {
          padding: 0 .5rem; }
      .header__container--content-first-title {
        font-family: "Merriweather Sans", sans-serif;
        letter-spacing: -2px;
        color: #4c366b;
        font-size: 4rem;
        padding: 2rem 1rem 1rem 7.5rem;
        font-weight: 1000; }
        @media only screen and (max-width: 56.25em) {
          .header__container--content-first-title {
            padding: 4rem 1rem 4rem 7.5rem;
            font-size: 3.5rem; } }
        @media only screen and (max-width: 56.25em) {
          .header__container--content-first-title {
            padding: 4rem 1rem 4rem 6rem;
            font-size: 3rem; } }
      .header__container--content-first-btn {
        display: flex;
        transition: all .2s;
        align-items: center;
        justify-content: space-between;
        border: none;
        background-color: #fefefe;
        padding: 1.5rem 2rem 1.5rem 2rem;
        cursor: pointer;
        border-radius: 2px;
        margin: 2rem 0 0 7.6rem;
        animation-fill-mode: backwards;
        width: 24rem; }
        @media only screen and (max-width: 37.5em) {
          .header__container--content-first-btn {
            margin: 2rem 0 0 6rem; } }
        .header__container--content-first-btn-txt {
          color: #4c366b;
          font-family: "Signika", sans-serif;
          font-size: 1.5rem;
          font-weight: 700;
          flex-basis: 70%; }
          @media only screen and (max-width: 37.5em) {
            .header__container--content-first-btn-txt {
              font-size: 1.4rem;
              font-weight: 600;
              margin-right: 9rem; } }
      .header__container--content-first-btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .header__container--content-second {
        margin: 0;
        display: flex;
        padding: 2.5rem 0; }
        .header__container--content-second-no {
          margin-right: 6rem;
          color: #4c366b;
          font-size: 1.3rem; }
          @media only screen and (max-width: 37.5em) {
            .header__container--content-second-no {
              margin-right: 3rem; } }
        .header__container--content-second-img {
          width: 8rem;
          height: 8rem;
          margin-right: 2.5rem; }
        .header__container--content-second-txt {
          display: flex;
          flex-direction: column; }
        .header__container--content-second-name {
          color: #4c366b;
          font-size: 1.3rem; }
        .header__container--content-second-h3 {
          color: #4c366b;
          font-size: 2rem;
          font-family: "Signika", sans-serif; }
          @media only screen and (max-width: 37.5em) {
            .header__container--content-second-h3 {
              font-size: 1.85rem; } }
      .header__container--content-third {
        margin: 0 11rem 0 0;
        display: flex;
        padding: 2.5rem 0;
        border-top: #cccccc 2px solid; }
        @media only screen and (max-width: 75em) {
          .header__container--content-third {
            margin: 0 2rem 0 0; } }
        .header__container--content-third-no {
          margin-right: 6rem;
          color: #4c366b;
          font-size: 1.3rem; }
          @media only screen and (max-width: 37.5em) {
            .header__container--content-third-no {
              margin-right: 3rem; } }
        .header__container--content-third-img {
          width: 8rem;
          height: 8rem;
          margin-right: 2.5rem; }
        .header__container--content-third-txt {
          display: flex;
          flex-direction: column; }
        .header__container--content-third-name {
          color: #4c366b;
          font-size: 1.3rem; }
        .header__container--content-third-h3 {
          color: #4c366b;
          font-size: 2rem;
          font-family: "Signika", sans-serif; }
          @media only screen and (max-width: 37.5em) {
            .header__container--content-third-h3 {
              font-size: 1.85rem; } }
  @media only screen and (max-width: 56.25em) {
    .header__photo {
      width: 0; } }
  .header__photo--img {
    height: 75rem; }
    @media only screen and (max-width: 56.25em) {
      .header__photo--img {
        display: none; } }

.section-news {
  display: flex;
  flex-direction: column; }
  .section-news__number {
    display: flex;
    margin: 11rem auto 1rem 22rem; }
    @media only screen and (max-width: 56.25em) {
      .section-news__number {
        margin: 11rem auto 1rem 10rem; } }
    @media only screen and (max-width: 37.5em) {
      .section-news__number {
        margin: 8rem auto 1rem 5rem; } }
    .section-news__number-no {
      color: #4c366b;
      font-size: 1.3rem; }
    .section-news__number-line {
      width: 4.1rem;
      height: 1px;
      background-color: #dddddd;
      margin: .8rem .8rem 0 .8rem; }
    .section-news__number-new {
      font-family: "Signika", sans-serif;
      color: #4c366b;
      font-size: 1.3rem; }
  .section-news__title {
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 800;
    font-size: 3.2rem;
    letter-spacing: -4px;
    color: #4c366b;
    margin: 1rem auto 5rem 22rem; }
    @media only screen and (max-width: 56.25em) {
      .section-news__title {
        margin: 1rem auto 4rem 10rem; } }
    @media only screen and (max-width: 37.5em) {
      .section-news__title {
        margin: 1rem auto 6rem 5rem;
        font-size: 2.8rem; } }
  .section-news__content {
    overflow: hidden;
    padding-bottom: 10rem; }
    .section-news__content-wrapper {
      padding: 4rem 4.9rem 1rem 4.9rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      border-left: #dddddd 1px solid;
      align-items: center;
      min-height: 56rem; }
      @media only screen and (max-width: 75em) {
        .section-news__content-wrapper {
          padding: 4rem 3.2rem 1rem 3.2rem; } }
      @media only screen and (max-width: 37.5em) {
        .section-news__content-wrapper {
          padding: 4rem 3rem 1rem 3rem; } }
      .section-news__content-wrapper-bild {
        height: 30rem;
        margin: 0 auto; }
      .section-news__content-wrapper-autor {
        display: flex;
        margin: 2.5rem 0 2.2rem 0; }
        .section-news__content-wrapper-autor-date {
          color: #7c649e;
          font-size: 1.4rem;
          font-weight: 700;
          font-family: "Signika", sans-serif; }
        .section-news__content-wrapper-autor-name {
          color: #7c649e;
          font-size: 1.3rem; }
      .section-news__content-wrapper-title {
        font-family: "Merriweather Sans", sans-serif;
        font-size: 1.8rem;
        color: #4c366b;
        letter-spacing: -2px; }

.section-popular {
  padding-top: 7rem;
  display: flex;
  flex-direction: column; }
  .section-popular__main {
    background-color: #ebe7ef;
    margin-right: 33rem; }
    @media only screen and (max-width: 75em) {
      .section-popular__main {
        margin-right: 20rem; } }
    @media only screen and (max-width: 56.25em) {
      .section-popular__main {
        margin-right: 0;
        justify-content: center; } }
  .section-popular__number {
    display: flex;
    margin: 11rem auto 1rem 22rem; }
    @media only screen and (max-width: 56.25em) {
      .section-popular__number {
        margin: 11rem 0 1rem 6rem; } }
    @media only screen and (max-width: 37.5em) {
      .section-popular__number {
        margin: 2rem auto 4rem 1.5rem; } }
    .section-popular__number-no {
      color: #4c366b;
      font-size: 1.3rem; }
    .section-popular__number-line {
      width: 4.1rem;
      height: 1px;
      background-color: #dddddd;
      margin: .8rem .8rem 0 .8rem; }
    .section-popular__number-rec {
      font-family: "Signika", sans-serif;
      color: #4c366b;
      font-size: 1.3rem; }
  .section-popular__title {
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 800;
    font-size: 3.2rem;
    letter-spacing: -4px;
    color: #4c366b;
    margin: 1rem auto 5rem 22rem;
    padding: 0; }
    @media only screen and (max-width: 56.25em) {
      .section-popular__title {
        margin: 1rem auto 5rem 6rem; } }
    @media only screen and (max-width: 37.5em) {
      .section-popular__title {
        margin: 1rem auto 4rem 1.5rem; } }
  .section-popular__content {
    margin-top: 0;
    display: flex;
    flex-direction: column; }
    .section-popular__content-wrapper {
      margin: .1rem auto 1.5rem 22rem;
      position: relative;
      display: flex;
      width: 50%;
      flex-direction: column;
      border-bottom: #cccccc 1px solid;
      padding: 0 5rem 3rem 0; }
      @media only screen and (max-width: 75em) {
        .section-popular__content-wrapper {
          width: 60%; } }
      @media only screen and (max-width: 56.25em) {
        .section-popular__content-wrapper {
          margin: .1rem auto 1.5rem 8rem;
          width: 70%;
          padding: 0 0 3rem 0; } }
      @media only screen and (max-width: 37.5em) {
        .section-popular__content-wrapper {
          margin: .1rem auto 1.5rem 2rem;
          width: 90%; } }
      .section-popular__content-wrapper-autor {
        display: flex;
        margin: 2.5rem 0 2.2rem 0; }
        .section-popular__content-wrapper-autor-date {
          color: #7c649e;
          font-size: 1.4rem;
          font-weight: 700;
          font-family: "Signika", sans-serif; }
        .section-popular__content-wrapper-autor-name {
          color: #7c649e;
          font-size: 1.3rem; }
      .section-popular__content-wrapper-title-link:link, .section-popular__content-wrapper-title-link:visited {
        font-family: "Merriweather Sans", sans-serif;
        font-size: 1.8rem;
        color: #4c366b;
        letter-spacing: -2px;
        text-decoration: none; }
        @media only screen and (max-width: 37.5em) {
          .section-popular__content-wrapper-title-link:link, .section-popular__content-wrapper-title-link:visited {
            font-size: 1.5rem; } }
      .section-popular__content-wrapper-title-link:hover {
        text-decoration: underline; }
        @media only screen and (max-width: 75em) {
          .section-popular__content-wrapper-title-link:hover {
            text-decoration: none; } }
      .section-popular__content-wrapper-title-link:hover + .section-popular__content-wrapper-img {
        opacity: 1; }
      .section-popular__content-wrapper-img {
        height: 34rem;
        width: 29rem;
        position: absolute;
        right: -32rem;
        top: -8rem;
        opacity: 0;
        transition: all .2s; }
        @media only screen and (max-width: 75em) {
          .section-popular__content-wrapper-img {
            display: none; } }
  .section-popular__btn {
    display: flex;
    align-items: center;
    transition: all .2s;
    justify-content: space-between;
    border: none;
    background-color: #fefefe;
    padding: 1.5rem 2rem 1.5rem 2rem;
    cursor: pointer;
    border-radius: 2px;
    width: 26rem;
    margin: 3rem 0 12rem 22rem; }
    @media only screen and (max-width: 56.25em) {
      .section-popular__btn {
        margin: 3rem 0 12rem 8rem; } }
    @media only screen and (max-width: 37.5em) {
      .section-popular__btn {
        margin: 3rem 0 9rem 2rem;
        width: 22rem; } }
    .section-popular__btn:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .section-popular__btn-txt {
      color: #4c366b;
      font-family: "Signika", sans-serif;
      font-size: 1.5rem;
      font-weight: 700;
      margin-right: 12rem; }
      @media only screen and (max-width: 37.5em) {
        .section-popular__btn-txt {
          margin-right: 8rem; } }

.footer {
  background-color: #3d265a;
  margin-top: -6rem; }
  .footer__container {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 56.25em) {
      .footer__container {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    .footer__container--title {
      padding: 16rem 15rem 5rem 15rem; }
      @media only screen and (max-width: 56.25em) {
        .footer__container--title {
          padding: 16rem 0 5rem 0; } }
      .footer__container--title-span {
        color: #fefefe;
        font-size: 2.5rem;
        font-weight: 700;
        font-family: "Volkhov", serif;
        line-height: 2.3rem; }
    .footer__container--nav {
      padding: 16rem 15rem 5rem 15rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: all; }
      @media only screen and (max-width: 56.25em) {
        .footer__container--nav {
          padding: 0 0 5rem 0;
          display: flex;
          flex-direction: row; } }
      .footer__container--nav-list {
        list-style: none; }
        @media only screen and (max-width: 56.25em) {
          .footer__container--nav-list {
            display: flex;
            flex-direction: row; } }
      .footer__container--nav-item {
        padding: .8rem 0; }
        @media only screen and (max-width: 56.25em) {
          .footer__container--nav-item {
            padding: .8rem; } }
      .footer__container--nav-link:link, .footer__container--nav-link:visited {
        font-size: 1.4rem;
        color: #888;
        font-family: "Signika", sans-serif;
        font-weight: 800;
        text-decoration: none; }
      .footer__container--nav-link:hover {
        color: #fefefe; }
      .footer__container--nav-link:active {
        color: #4c366b; }
  .footer__social {
    display: flex;
    justify-content: space-between;
    padding: 1rem 15rem 7rem 15rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__social {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        padding: 0 0 5rem 0; } }
    .footer__social-license-txt {
      font-family: "Signika", sans-serif;
      font-size: 1.2rem;
      color: #888; }
    .footer__social-nav {
      display: flex; }
      @media only screen and (max-width: 56.25em) {
        .footer__social-nav {
          margin-bottom: 4rem; } }
      .footer__social-nav-list {
        list-style: none;
        display: flex; }
      .footer__social-nav-item:not(:nth-child(1)) {
        margin-left: 1rem; }

/*# sourceMappingURL=style.css.map */
